@font-face {
  font-family: 'FrutigerBold';
  src:  url('./fonts/FrutigerLTStd-Bold\ copy.woff2') format('woff2');
}
@font-face {
  font-family: 'FrutigerLight';
  src:  url('./fonts/FrutigerLTStd-Light\ copy.woff2') format('woff2');
}
@font-face {
  font-family: 'FrutigerRoman';
  src:  url('./fonts/FrutigerLTStd-Roman\ copy.woff2') format('woff2');
}

/* Design tokens */
:root {
  --clr-primario: #9567ff;
  --clr-primario-claro: #ca96ff;
  --clr-primario-oscuro:#5f3acb;
  --clr-secundario: #ff544b;
  --clr-secundario-claro:#ff8877;
  --clr-secundario-oscuro:#c51422;
  --clr-terciario:#000000;
  --clr-terciario-claro:#ffffff;
  --ff-titulos: 'FrutigerBold';
  --ff-body:  'FrutigerRoman';
  /* https://type-scale.com */
  --h1: 49px;
  --h2: 38px;
  --h3: 31px;
  --h4: 27px;
  --h5: 20px;
  --h6: 16px;
}

/* Base */
body{
  background-color: var(--clr-terciario-claro);
  color: var(--clr-terciario);
   font-family: var(--ff-body);
}

h1,h2,h3,h4,h5 {
  font-family: var(--ff-titulos);
}

/* Navegacion */
.navegacion {}
.navegacion__logo {}
.navegacion__button {}
.navegacion__buscador {}

/* Menu */
.menu {}
.menu__item-sub {}
.menu__item {}

/* Banner */
.banner {
  display: flex;
}
.banner > * {
  flex: 1;
}
.banner__titulo {
  background: #ca96ff;
  margin-block: auto;
}
.banner__titulo h1 {
  font-size: 15;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.banner__titulo button {
  background: #ff544b;
}
.banner__carrusel {
  flex: 2;
}

/* Categorias */
.categoria {}
.categoria__button {}
.categoria__imagen {}

/* Lema */
.lema {}
