/*** Imports ***/
@font-face {
  font-family: "FrutigerBold";
  src: url("./fonts/FrutigerLTStd-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "FrutigerLight";
  src: url("./fonts/FrutigerLTStd-Light.woff2") format("woff2");
}
@font-face {
  font-family: "FrutigerRoman";
  src: url("./fonts/FrutigerLTStd-Roman.woff2") format("woff2");
}

/*** Design tokens ***/
:root {
  --clr-primario: #9567ff;
  --clr-primario-claro: #ca96ff;
  --clr-primario-oscuro: #5f3acb;
  --clr-secundario: #ff544b;
  --clr-secundario-claro: #ff8877;
  --clr-secundario-oscuro: #c51422;
  --clr-terciario: #000000;
  --clr-terciario-claro: #ffffff;
  --ff-titulos: "FrutigerBold";
  --ff-body: "FrutigerRoman";
  --h1: 49px;
  --h2: 38px;
  --h3: 31px;
  --h4: 27px;
  --h5: 20px;
  --h6: 16px;
}

/*** Reset ***/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
li {
  padding-inline: 0;
}
img {
  max-width: 100%;
  display: block;
}

/*** Base ***/
body {
  background-color: var(--clr-terciario-claro);
  color: var(--clr-terciario);
  font-family: var(--ff-body);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-titulos);
}

/* Typescale */
h1 {
  font-size: var(--h1);
  font-size: 40px;
  padding-bottom: 20px;
  line-height: 1.2;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

[hidden] {
  display: none;
}

/*** Componentes ***/
/* Navegacion */
.navegacion {
}
.navegacion__logo {
}
.navegacion__button {
}
.navegacion__buscador {
}
/* Menu */
.menu {
}
.menu__item-sub {
}
.menu__item {
}
/* Banner */
.banner {
  display: flex;
  gap: 20px;
}

.banner__titulo {
  flex: 2;
  /* background: #ca96ff; */
  margin-block: auto;
  text-align: center;
}
.banner__titulo h1 {
  font-size: 15;
  font-weight: 600;
}
.banner__titulo button {
  background: #ff544b;
  line-height: initial;
  text-transform: uppercase;
  padding: 12px;
  font-family: var(--h3);
  color: #ffffff;
}
.banner__carrusel {
  flex: 3;
}
/* Categorias */
.categoria {
}
.categoria__button {
}
.categoria__imagen {
}
/* Lema */
.lema {
}

/*Externos*/
.externos {
  background-color: #ff8877;
  height: 200px;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
}
.externos__categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.externos__categoria img {
  margin: auto;
  opacity: 70%;
}
.externos__categoria img:hover {
  opacity: 1;
}
/*.externos__categoria h3 {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 150px;
  font-size: 15px;
  font-family: monospace;
}*/
.externos__categoria h3 {
  position: absolute;
  top: 0px;
  left: 2px;
}
